<!-- <div class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
    <div class="container">
      <a href="#" [routerLink]="['/home']" class="navbar-brand">Osterie di Verona</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#" [routerLink]="['/login']">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#" [routerLink]="['/signup']">Sign up</a>
          </li>
          <li class="nav-item  item-right-1">
            <a class="nav-link active" style="cursor:pointer;">
              <b>Logout</b>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div> -->

<header id="header" class="transparent-header" data-sticky-shrink="false">
  <div id="header-wrap">
    <div class="container">
      <div class="header-row justify-content-lg-between">

        <!-- Logo
          ============================================= -->
        <div id="logo" class="col-auto me-lg-0 order-lg-2">
          <a href="demo-restaurant.html" class="standard-logo"><img src="assets/canvas/demos/restaurant/images/logo.png"
              alt="Canvas Logo"></a>
          <a href="demo-restaurant.html" class="retina-logo"><img src="assets/canvas/demos/restaurant/images/logo@2x.png"
              alt="Canvas Logo"></a>
        </div><!-- #logo end -->

        <div id="primary-menu-trigger">
          <svg class="svg-trigger" viewBox="0 0 100 100">
            <path
              d="m 30,33 h 40 c 3.722839,0 7.5,3.126468 7.5,8.578427 0,5.451959 -2.727029,8.421573 -7.5,8.421573 h -20">
            </path>
            <path d="m 30,50 h 40"></path>
            <path d="m 70,67 h -40 c 0,0 -7.5,-0.802118 -7.5,-8.365747 0,-7.563629 7.5,-8.634253 7.5,-8.634253 h 20">
            </path>
          </svg>
        </div>

        <!-- Primary Navigation
          ============================================= -->
        <nav class="primary-menu col-lg-4 order-lg-1">

          <ul class="menu-container">
            <li class="menu-item"><a class="menu-link" href="demo-restaurant.html">
                <div>Home</div>
              </a></li>
            <li class="menu-item"><a class="menu-link" href="demo-restaurant-about-us.html">
                <div>About</div>
              </a></li>
            <li class="menu-item"><a class="menu-link" href="demo-restaurant-menu.html">
                <div>Menu</div>
              </a></li>
          </ul>

        </nav>

        <nav class="primary-menu col-lg-4 order-lg-3">

          <ul class="menu-container justify-content-lg-end">
            <li class="menu-item"><a class="menu-link" href="demo-restaurant-gallery.html">
                <div>Gallery</div>
              </a></li>
            <li class="menu-item"><a class="menu-link" href="demo-restaurant-blog.html">
                <div>Blog</div>
              </a></li>
            <li class="menu-item"><a class="menu-link color" href="demo-restaurant-reservation.html">
                <div>Reservation</div>
              </a></li>
          </ul>

        </nav><!-- #primary-menu end -->

      </div>
    </div>
  </div>
  <div class="header-wrap-clone"></div>
</header>