<div *ngIf="pub.id">

    <form [formGroup]="pubForm" (ngSubmit)="onSubmit()">
        <h2 mat-dialog-title>Dettaglio Ristorante</h2>
        <mat-dialog-content class="mat-typography">
            <div class="item-form-group" style="font-size: 12px">
                <label for="name">Name</label>
                <mat-form-field appearance="fill" style="width: 50vw !important">
                    <input matInput formControlName="name" id="name">
                </mat-form-field>
            </div>
            <div class="item-form-group">
                <label for="image">Image</label>
                <mat-form-field appearance="fill" style="width: 50vw !important">
                    <input matInput formControlName="image" id="image">
                </mat-form-field>
            </div>
            <div class="item-form-group">
                <label for="rankingPosition">Ranking Position</label>
                <mat-form-field appearance="fill" style="width: 50vw !important">
                    <input matInput formControlName="rankingPosition" id="rankingPosition">
                </mat-form-field>
            </div>
            <div class="item-form-group">
                <label for="priceLevel">Price Level</label>
                <mat-form-field appearance="fill" style="width: 50vw !important">
                    <input matInput formControlName="priceLevel" id="priceLevel">
                </mat-form-field>
            </div>
            <div class="item-form-group">
                <label for="category">Category</label>
                <mat-form-field appearance="fill" style="width: 50vw !important">
                    <input matInput formControlName="category" id="category">
                </mat-form-field>
            </div>
            <div class="item-form-group">
                <label for="rating">Rating</label>
                <mat-form-field appearance="fill" style="width: 50vw !important">
                    <input matInput formControlName="rating" id="rating">
                </mat-form-field>
            </div>
            <div class="item-form-group">
                <label for="phone">Phone</label>
                <mat-form-field appearance="fill" style="width: 50vw !important">
                    <input matInput formControlName="phone" id="phone">
                </mat-form-field>
            </div>
            <div class="item-form-group">
                <label for="address">Address</label>
                <mat-form-field appearance="fill" style="width: 50vw !important">
                    <input matInput formControlName="address" id="address">
                </mat-form-field>
            </div>
            <div class="item-form-group">
                <label for="email">Email</label>
                <mat-form-field appearance="fill" style="width: 50vw !important">
                    <input matInput formControlName="email" id="email">
                </mat-form-field>
            </div>
            <div class="item-form-group">
                <label for="cuisine">Cuisine</label>
                <mat-form-field appearance="fill" style="width: 50vw !important">
                    <input matInput formControlName="cuisine" id="cuisine">
                </mat-form-field>
            </div>
            <div class="item-form-group">
                <label for="latitude">Latitude</label>
                <mat-form-field appearance="fill" style="width: 50vw !important">
                    <input matInput formControlName="latitude" id="latitude">
                </mat-form-field>
            </div>
            <div class="item-form-group">
                <label for="longitude">Longitude</label>
                <mat-form-field appearance="fill" style="width: 50vw !important">
                    <input matInput formControlName="longitude" id="longitude">
                </mat-form-field>
            </div>
            <div class="item-form-group">
                <label for="webUrl">Web Url</label>
                <mat-form-field appearance="fill" style="width: 50vw !important">
                    <input matInput formControlName="webUrl" id="webUrl">
                </mat-form-field>
            </div>
            <div class="item-form-group">
                <label for="website">Website</label>
                <mat-form-field appearance="fill" style="width: 50vw !important">
                    <input matInput formControlName="website" id="website">
                </mat-form-field>
            </div>
            <div class="item-form-group">
                <label for="numberOfReviews">Number Of Reviews</label>
                <mat-form-field appearance="fill" style="width: 50vw !important">
                    <input matInput formControlName="numberOfReviews" id="numberOfReviews">
                </mat-form-field>
            </div>
            <div class="item-form-group">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" formControlName="isClosed" id="isClosed">
                    <label class="form-check-label" for="isClosed">
                        Is Closed
                    </label>
                </div>
            </div>
            <div class="item-form-group">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" formControlName="isDeleted" id="isDeleted">
                    <label class="form-check-label" for="isDeleted">
                        Is Deleted
                    </label>
                </div>
            </div>

            <!-- <p>Form Status: {{ pubForm.status | json }}</p>
            <p>Form Values: {{ pubForm.value | json }}</p> -->

        </mat-dialog-content>
        <mat-dialog-actions align="end">
            <button mat-button mat-dialog-close>Chiudi</button>
            <button mat-button type="submit">
                Save
            </button>
        </mat-dialog-actions>
    </form>
</div>