.mat-mdc-dialog-container,
.cdk-global-overlay-wrapper .mat-mdc-dialog-container .mdc-dialog__surface {
  background-color: #fff !important;
}

.mdc-text-field {
  display: block;
}

.item-form-group {
  margin-bottom: 10px;
  > label {
    display: block;
    color: #fff;
  }
  .form-check {
    > label {
      color: #fff;
    } 
  }
}