
li.page-item > a {
  cursor: pointer;
}

.page-link:focus {
  box-shadow: none;
}

.border-form-control {
  height: auto;
  margin: 0 20px;
  width: 35%;
}

.custom-select.border-form-control {
  background: none;
}