<section id="slider" class="slider-element swiper_wrapper min-vh-60 min-vh-md-100 include-header" data-effect="fade"
    data-loop="true" data-autoplay="6000" data-speed="1400">
    <div class="slider-inner">
        <div class="swiper-container swiper-parent">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="container dark">
                        <div class="slider-caption">
                            <div>
                                <h2 class="font-secondary ls0 fw-normal nott animated" data-animate="fadeIn">Taste from Italy.
                                </h2>
                                <p class="d-none d-sm-block font-primary animated" data-animate="fadeIn" data-delay="400">Who
                                    Needs a Boyfriend if there Pizza And WiFi are both available.</p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide-bg" style="background-image: url('assets/canvas/demos/restaurant/images/slider/1.jpg');">
                    </div>
                </div>
            </div>            
        </div>
    </div>
</section>