<div class="mw-md mx-auto">
  <ul class="list-unstyled mb-4">
    <li *ngFor="let pub of itemsToDisplay" data-animate="fadeIn" class="fadeIn animated">
      <ul class="topic list-unstyled row mx-0 justify-content-between align-items-center">
        <li class="entry mb-0 col-sm-12">
          <div class="row">
            <div class="col-sm-3">
              <div class="image-box" [style.background-image]="'url(' + pub.image + ')'">
              </div>
            </div>
            <div class="col-sm-9">
              <div>
                <h4 class="font-secondary nott mb-0"
                  style="font-family: poppins, sans-serif !important; font-size: 24px; font-weight: 600 !important;">
                  {{ pub.name }}<i class="icon-heart3"></i>
                </h4>
                <span class="badge bg-secondary text-white">{{ pub.address | getCity}}</span>
              </div>
              <div class="entry-meta mt-1">
                <ul>
                  <li>
                    <div style="display: flex;">
                      <app-rating [rating]="pub.rating"></app-rating>
                      <span style="padding:4px 0 4px 5px;">{{ pub.numberOfReviews }} recensioni</span>
                    </div>
                  </li>
                </ul>
                <ul>
                  <li><a target="_blank" href="https://maps.google.com/?q={{pub.address}},{{pub.name}}" rel="noopener"
                      title="Google Maps"><i class="i-circled icon-adjust icon-map-marked-alt"></i></a></li>
                  <li><span
                      style="font-family:poppins, sans-serif !important; font-size: 20px; font-weight: 600 !important;">
                      {{ pub.priceLevel | replace : '[$]' : '€' | trim }}</span></li>
                  <li style="margin-left: auto;"><a class="button button-mini" target="_blank"
                      href="{{pub.website}}"><span>WebSite <i class="icon-line-external-link"></i></span></a></li>
                  <li><a class="button button-mini" target="_blank" href="{{pub.webUrl}}"><span>Tripadvisor <i
                          class="icon-tripadvisor"></i></span></a></li>
                </ul>
              </div>
              <div class="action-detail-box">
                <!-- <a href="src\app\pub\components\pub-detail.html" class="" data-lightbox="ajax"><i class="i-circled i-light icon-edit1"></i></a>                 -->
                <button title="Edit Restaurant" type="button" mat-button (click)="openDialog(pub.id)">
                  <i class="i-plain icon-edit1"></i>
                </button>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </li>
  </ul>
</div>

<div class="mw-md mx-auto">
<app-pagination
  [current]="current"
  [total]="total"
  [totalItems]="totalItems"
  (noItemsClicked)="setNoItems($event)"
  (goTo)="onGoTo($event)"
  (next)="onNext($event)"
  (previous)="onPrevious($event)"
></app-pagination>
</div>